/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Poppins:200, 300, 400, 500, 600, 700, 800, 900 &display=swap');
*
	
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}

body
{
	background: #191923;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	min-width: 100vw;
	padding: 20px;
}

.container
{
	position: relative;
	/* width: 100%; */
	/* maxgin: 50px; */
	min-width: 60vw;
	min-height: 95vh;
	max-width: 80vw;
	max-height: 95vh;
	background: #1E1E28;
	display: grid;
	height: 100%;
	overflow-x: scroll;
	overflow-y: scroll;
	scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
	/* padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-top: 30px; */
/*
	padding-right: 40px;
	padding-top: 5px;
	padding-bottomg: 5px;
*/
	grid-template-columns: 1fr 4fr;
	box-shadow: 0 35px 55px rgba(0,0,0,0);
	
}



a:link{text-decoration: none;}

.container .left_side
{
	position: relative;
	min-width: 350px;
/*	background: #003147;*/
/*	background:#811F21;*/
	background: #20202A;
	/* background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,180,0,1) 90%);  */
	/* background: #23232F; */
	/* padding: 40px; */
	/* border: 1px solid #811F21; */
}

.profileText
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-left: 1vw;
	padding-right: 1vw;
	/* border-bottom: 2px solid #811F21; */
	background: #23232F;
}

a:link{text-decoration: none;}

.profileText .imgBx
{
 	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
}

.profileText .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profileText h2
{
	padding-top: 10px;
	padding-bottom: 1px;
	/* margin-top: 15px;
	margin-bottom: 5px; */
	color: white;
	font-size: 1.2em;
	/* text-transform: uppercase; */
	text-align: center;
	font-weight: 600;
	cursor:pointer; 
	/* line-height: 1.4em; */
	
}

.profileText h3
{
	/* margin-top: 20px; */
	color: #8C8C8E;
	font-size: 0.8em;
	/* text-transform: uppercase; */
	text-align: center;
	font-weight: 450;
	/* line-height: 1.4em; */
	
}
.profileText h2:hover{ color: gold;}


.profileText h2 span
{
	font-size: 0.8em;
	font-weight: 600;
	text-transform: none;
	
}

/* .profileText .art-scroll-frame{height:calc(100vh - 62px)}.scrollbar-track{visibility:hidden;opacity:0;pointer-events:none} */



.contactInfo 
{
	position: relative;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid #404048;
}

.contactInfo .text1
{
	color: gold;
	font-weight: 400;
	line-height: 1px;
	text-decoration: none;
	float: left;
	clear: left;
}

.contactInfo .text2
{
	color: white;
	font-weight: 100;
	line-height: 1px;
	text-decoration: none;
	float: right;
	clear: right;
}

.eduInfo 
{
	position: relative;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid #404048;
}


.eduInfo .text1
{
	color: gold;
	font-weight: 450;
	line-height: 1px;
	text-decoration: none;
	float: left;
	clear: left;
}

.eduInfo .text2
{
	color: gold;
	font-weight: 450;
	line-height: 1px;
	text-decoration: none;
	float: right;
	clear: right;
}

.eduInfo .text3
{
	color: white;
	font-weight: 50;
	line-height: 1px;
	text-decoration: none;
	float: left;
	clear: left;
}


a:link{text-decoration: none;}

.scrollbar
{
	position: absolute;
	height: 30vh;
	/* display: flex; */
	overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
	
	
}

/* .scrollbar::-webkit-scrollbar{
	width:0;
	height:0;
} */


.knowledgeInfo 
{
	padding-top: 20px;
	padding-left: 20px;
	/* padding-right: 20px; */
	/* padding-bottom: 20px; */
	/* border-bottom: 2px solid #404048; */
}


.knowledgeInfo .text1
{
	color: gold;
	font-weight: 600;
	line-height: 1px;
	text-decoration: none;
	float: left;
	clear: left;
}


.knowledgeInfo ul {
	list-style: none;
	padding-bottom: 10px;
	border-bottom: 2px solid #404048;
  }
  
  ul li:before {
	content: '✓';
	color: white;
  }

.knowledgeInfo li span
{
	color: white;
	font-weight: 400;
	line-height: 1px;
	text-decoration: none;
	position: relative;
	left: 10px;
	
}

.knowledgeInfo .text2
{
	color: gold;
	font-weight: 600;
	line-height: 1px;
	text-decoration: none;
	float: left;
	clear: left;
}


.knowledgeInfo .text2 .list2 {
	list-style: none;
	padding-bottom: 20px;
	border-bottom: 2px solid #404048;
  }
  
 .knowledgeInfo .text2 ul li:before {
	content: '✓';
	color: white;
  }

.knowledgeInfo .text2 li span
{
	color: white;
	font-weight: 400;
	line-height: 1px;
	text-decoration: none;
	position: relative;
	left: 10px;
	
}

.knowledgeInfo .text3
{
	color: white;
	text-decoration: none;	
	text-shadow: 0 0 4px #fff;
	
	/* padding-top: -1px; */
}


.knowledgeInfo .text3 h6
{
	font-size: medium;
	/* line-height: 1px; */
	text-align: center;
	
	
}


.knowledgeInfo .text3 h6:hover{ color: gold; text-shadow: 0 0 4px gold;}



.links
{
	position: absolute;
	bottom:0;
	min-width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 87px;
	padding-right: 87px;

	/* border-bottom: 2px solid #811F21; */
	background: #26262F;
}

a:link{text-decoration: none;}
a {color: inherit;}

#linksgrid
{
	/* padding: .5em; */
    display: inline-block;
	word-spacing: 3em;
}

.links .fa-linkedin
{
	color: white;
	
}

.links .fa-linkedin:hover {color: gold;}

.links .fa-dribbble
{
	color: white;
}

.links .fa-dribbble:hover {color: gold;}

.links .fa-graduation-cap
{
	color: white;
}

.links .fa-graduation-cap:hover {color: gold;}



.container .right_side
{
	position: relative;
	background: #1E1E28;
/*	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,200,0,1) 90%); */
	padding: 40px;
}